<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->

    <% include ./partials/navbar.ejs %>

        <!-- Page Content -->
        <main class="container">
            <!-- Jumbotron Header -->
            <% if(currentUser) { %>
                <h1>Welcome to TuneTrapper,
                    <%= currentUser.first_name %>! Take advantage of your one-stop shop for documenting the evolution of your music and <a href="/users/<%= currentUser.id %>/songs/new">trap your first tune now.</a></h1>
                <% } else { %>
                    <header class="jumbotron my-4">
                        <h1 class="display-3">TuneTrapper</h1>
                        <p>
                            "What was the chord in the part with the thing right before the drums do that thing where it's..." </p>
                        <p>"What was the meloy I came up with in the shower today? It was like 'lah lah lahhh...' No, wait..."</p>
                        <p>For many musicians and songwriters, questions like these are all too familiar. With TuneTrapper, you can easily save and organize song ideas, recordings from rehearsals, or any other musical idea worth keeping at your fingertips.
                            Gone are the days of losing your melodies and chord changes in a pile of unmarked voice memos. Never again will your band waste rehearsal time trying to remember what you did in your last practice.</p>
                        <p>Sign up for a free TuneTrapper account today, and never lose a tune again.</p>
                        <a href="/users/sign_up" class="btn btn-primary btn-lg">Make an account now</a>
                    </header>
                    <% }%>

        </main>
        <!-- /.container -->
        <% include ./partials/baseScripts.ejs %>
</body>

</html>