<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->

    <% include ./partials/navbar.ejs %>

        <!-- Page Content -->
        <main class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">Welcome to RehearseRight</h1>
                <p class="lead">Keep everyone in your band on the same page with the app that lets you record, store, and organize notes from your rehearsals in real time.</p>
                <a href="#" class="btn btn-primary btn-lg">Sign up</a>
            </header>

            </section>

        </main>
        <!-- /.container -->
        <% include ./partials/baseScripts.ejs %>
</body>

</html>