<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Here are all of your songs</h1>

      <ul class="list-group">

        <% songs.forEach((song) => { %>

          <li class="list-group-item">
            <a href="/topics/<%= topic.id %>"> <%= song.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>