<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>
<% include ../static/partials/navbar.ejs %>

    <body>
        <h1>
            <%= song.title %>
        </h1>
        By:
        <%= song.artist %> <br> Notes:
            <%= song.notes %>
    </body>

</html>