<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <h1>
        <%= song.title %>
    </h1>
    By:
    <%= song.artist %> <br> Notes:
        <%= song.notes %>
</body>

</html>