<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>

    <!-- Navigation -->

    <% include ../static/partials/navbar.ejs %>

        <!-- Page Content -->
        <main class="container">
            <!-- Jumbotron Header -->
            <% if(currentUser && (!songs)) { %>
                <h1>Welcome to TuneTrapper,
                    <%= user.first_name %>! Take advantage of your one-stop shop for documenting the evolution of your music and <a href="/users/<%= currentUser.id %>/songs/new">trap your first tune now.</a></h1>
                <% } else { %>
                    <p>Welcome back,
                        <%= user.first_name %>.</p> Here are all of your tunes, and the notes you've written on them:


                    <% }%>

        </main>
        <!-- /.container -->
        <% include ../static/partials/baseScripts.ejs %>
</body>

</html>